{
  "root": true,
  "env": { "amd": true, "es6": true, "browser": true, "node": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
